.card__heading {
  @include heading-large($font-size: 1.3rem);
  @include no-bottom;

  &-link {
    @include link;
  }
}

.card__subheading {
  @include heading-medium($font-size: 1rem);
  @include no-bottom;

  color: $gray;
}

.card__body {
  margin: 0.7em 0 1em;
}

.card__link {
  @include link;
}

.card__button {
  @include button;
}

/* Variations */
.card--bg {
  background-color: $lightblue;
  padding: 1em;
}

.card--bg-light {
  background-color: $gray-lightest;
  padding: 1em;
}

.upcoming_trips {
  color: $black;
  margin-bottom: 2rem !important;

  h2 {
    margin: 0;
    padding: 0;
    a {
      background-color: $teal;
      color: $white;
      display:block;
      line-height: 1.1;
      padding: .5rem;
      text-decoration: none;

      &:hover {
        background-color: $white;
        color: $darkblue;
      }
    }
  }

  img {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .card__heading {
    text-transform: uppercase;
  }
}

.paddling_symposiums {
  color: $black;
  margin-bottom: 2rem !important;

  h2 {
    margin: 0;
    padding: 0;
    a {
      background-color: $darkblue;
      color: $white;
      display:block;
      line-height: 1.1;
      padding: .5rem;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        background-color: $gray-lightest;
        color: $darkblue;
      }
    }
  }

  .card__link {
    display:block;
  }
}
