.header {
  margin-bottom: 4em;
  position:relative;
  z-index: 10;

  &__inner {
    @include wrapper;

    display: flex;
    flex-flow: column nowrap;
  }

  &__primary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__branding {
    position: relative;
    width: 100%;
  }

  &__sitename {
    background-color: $black;
    bottom: 0;
    color: $white;
    font-family: $font-logo;
    font-size: 3.1rem;
    padding: 1rem;
    position: absolute;
    width: 100%;

    @include medium {
      font-size: 2.4rem;
    }

    @include small {
      font-size: 1.4rem;
      padding: .5rem;
    }
  }
}
