/* LI */
.main-menu__item {
  border-top: 1px solid;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include medium {
    border-top: none;
    display: inline-block;

    /* Only top level */
    &:not(.main-menu__item--sub):hover {
      background-color: $darkblue;
      transition: all 0.2s;
      .main-menu__link--with-sub {
        color: $lightblue;
      }

      & > .main-menu--sub {
        display: block;
        color: $lightblue;
      }
    }
  }
}

/* Expand Button */
.expand-sub {
  background-color: $darkblue;
  color: $lightblue;
  cursor: pointer;
  display: block;
  width: 20%;
  position: relative;

  @include medium {
    display: none;
  }

  /* Down triangle */
  &::after {
    border: 15px solid;
    border-bottom-color: transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    content: '';
    display: block;
    margin-right: -12px;
    margin-top: -6px;
    position: absolute;
    right: 50%;
    top: 50%;
    width: 0;
  }

  /* See main-menu.js */
  &--open {
    background-color: $darkblue;
    color: $lightblue;

    &::after {
      border-top-color: transparent;
      border-bottom: 15px solid;
      margin-top: -20px;
    }
  }
}

/*
 * Sub Navigation
 */

/* LI (Nested) */
.main-menu__item--sub {
  @include medium {
    color: $lightblue;
    display: block;

    &:not(:first-child) {
      border-top: 1px solid $lightblue;
    }
  }
}
